{{define "content"}}
<div class="about-content">
	<div class="about-description">
		<p>I'm a dedicated Christian.</p>
		<p>I am a software engineer who likes dabbling in many different technologies.</p>
		<p>I love playing bass and drums, but I also know how to play guitar and piano.</p>
		<p>I am an avid boardgame geek, Sheriff of Nottingham is one of my favourites!</p>
		<p>I wish I was a good singer, sadly I'm not very good...</p>
		<p>I love dogs even though I'm allergic.</p>
	</div>
	<div class="about-profile-div">
		<img class="about-profile" src="/resources/images/profile.jpg"/>
	</div>
</div>
{{end}}
