{{define "content"}}
<div class="about-content">
	<div class="about-description">
		<p>I'm a dedicated Christian.</p>
		<p>I'm happily married to Buu Dao, I'm the guy on the left!</p>
		<p>I am a passionate software engineer who likes to <a href="http://www.github.com/enochtsang" target="_blank">code and build things</a>.</p>
		<p>I was born and raised in Calgary and am now residing in Brampton, ON.</p>
		<p>I love playing bass and drums, but I also know how to play guitar and piano.</p>
		<p>I'm a self proclaimed <a class="reviews-link">foodie</a>.</p>
		<p>I am an avid boardgame geek, Sheriff of Nottingham is one of my favourites!</p>
		<p>Cilantro absolutely disgusts me</p>
		<p>I'm an active <a class="reviews-link">anime fan</a> from a young age.</p>
		<p>I wish I was a good singer, sadly I'm pretty bad...</p>
		<p>I love dogs even though I'm allergic.</p>
	</div>
	<div class="about-profile-div">
		<img class="about-profile" src="/resources/images/profile.jpg"/>
	</div>
</div>
<script src="/resources/js/about.js" type="text/javascript"></script>
{{end}}
