{{define "content"}}
<div class="portfolio-content">
	<h1>Here are some of my past works.</h1>
	<h2>I hope that with every project I do I can be a little bit better</h2>
	<div class="portfolio-item">
		<h2>Canadian Engineering Competition 2017 Website</h2>
		<a href="http://198.199.70.199:8080/home" target="_blank">
			<img src="/resources/images/cec2017site-screenshot.png" alt="CEC 2017 Website">
		</a>
	</div>
	<div class="portfolio-item">
		<h2>Solar Car Team Epsilon Embedded Systems</h2>
		<a href="https://github.com/UCSolarCarTeam/Epsilon-Embedded-Software" target="_blank">
			<img src="/resources/images/embedded-systems.jpg" alt="Embedded Systems">
		</a>
	</div>
	<div class="portfolio-item">
		<h2>Terminal Fighter</h2>
		<a href="https://github.com/enochtsang/TerminalFighter/tree/prototype" target="_blank">
			<img src="/resources/images/terminalfighter.png" alt="Terminal Fighter">
		</a>
	</div>
	<div class="portfolio-item">
		<h2>Solar Car Team Delta Telemetry Desktop Client</h2>
		<a href="https://github.com/UCSolarCarTeam/Delta-Desktop-Client-Telemetry" target="_blank">
			<img src="/resources/images/desktop-telemetry.png" alt="Schulich Delta Desktop Telemetry">
		</a>
	</div>

</div>
{{end}}
