{{define "content"}}
<div class="resume-content">
	<h1>Technical Skills</h1>
	<hr class="resume-section-hr">
	<div class="resume-section resume-technical">
		<div class="resume-subsection">
			<h2>General Proficiencies</h2>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Web Development</li>
				<li>DevOps</li>
				<li>Embedded Systems</li>
				<li>Technical Documentation</li>
				<li>Automated Testing</li>
				<li>Continuous Integration and Deployment</li>
			</ul>
		</div>
		<div class="resume-subsection">
			<h2>Languages</h2>
			<hr class="resume-subsection-hr">
			<ul>
				<li>HTML5, CSS3</li>
				<li>JavaScript, SQL</li>
				<li>Golang, Python, Bash</li>
				<li>C, C++, Java</li>
				<li>MIPS Assembly</li>
				<li>Regular Expressions</li>
			</ul>
		</div>
		<div class="resume-subsection">
			<h2>Technologies</h2>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Git Version Control</li>
				<li>jQuery, AJAX</li>
				<li>MySQL, SQLite</li>
				<li>AWS (EC2, S3)</li>
				<li>Docker, ESXi, VirtualBox</li>
				<li>STM32F4, MBED NXP LPC1768</li>
				<li>QT Framework, GoogleTest, JUnit</li>
				<li>NSX, F5, HAProxy</li>
				<li>Windows 7, 8, 10, Server 2012</li>
				<li>Linux - Ubuntu and RHEL type systems</li>
			</ul>
		</div>
	</div>
	<h1>Work Experience</h1>
	<hr class="resume-section-hr">
	<div class="resume-section">
		<div class="resume-subsection">
		<h2>Calgary Scientific Inc.</h2>
		<h3>Systems Intern</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Developed software to help shift the services team from a cost centre to a profitable unit</li>
				<li>Customer facing representative for professional services</li>
				<li>Actively identified areas of improvement and created solutions to optimize and automate team efforts</li>
			</ul>
		</div>
		<div class="resume-subsection">
		<h2>SEDS Research Lab</h2>
		<h3>Research Assistant</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Assisted a PhD student in research on a cutting edge algorithm related to release patterns</li>
				<li>Applied and analyzed statistical tests for comparing raw data</li>
				<li>Automated creation of data sets for testing</li>
			</ul>
		</div>
	</div>
	<h1>Project Work</h1>
	<hr class="resume-section-hr">
	<div class="resume-section">
		<div class="resume-subsection">
		<h2>University of Calgary Solar Car Team</h2>
		<h3>Software Technical Lead</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Worked in a multidisciplinary team, executing software solutions for electrical, mechanical, and business goals.</li>
				<li>Architectured and built a range of projects including embedded systems, in-car user interfaces, and high availability telemetry.</li>
				<li>Introduced to the team maintenence and use of development tools such as version control, testing frameworks, continuous integration, and linters.</li>
		</div>
		<div class="resume-subsection">
		<h2>Canadian Engineering Competition</h2>
		<h3>Contracted Web Developer</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Created and designed the website for the 2017 Canadian Engineering Competition</li>
				<li>Presented diverse business options and designs to stakeholders</li>
				<li>High focus on mobile accessibility and short deadlines</li>
			</ul>
		</div>
	</div>
	<h1>Education</h1>
	<hr class="resume-section-hr">
	<div class="resume-section">
		<div class="resume-subsection">
		<h2>University of Calgary</h2>
		<h3>Bachelor of Science</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Software Engineering</li>
				<li>Expected Graduation - January 2019</li>
			</ul>
		</div>
		<div class="resume-subsection">
		<h2>International Baccalaureate</h2>
		<h3>Certificate in Sciences and Math</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>John G. Diefenbaker High School</li>
				<li>Completed June 2013</li>
			</ul>
		</div>
	</div>
</div>
{{end}}
