{{define "content"}}
<div class="reviews-content">
	<h1>Food</h1>
	<img class="reviews-food-banner" src="/resources/images/food.png"></img>
	<p>
		I like to keep track of the places I eat at and I also have a systematic way of ranking food as well.
		I only rate the food; not the prices, atmosphere, or service, because it is the food that will get me coming back.
		The following is how I rank food:
	</p>
	<ul class="system-list">
		<li >
			<p class='system-label'>Bad</p>
			<p>
				This is food that does not taste good even if I'm hungry, it would either be bland or have some kind of unpleasant flavor.
				Food can range from bad to absolutely terrible, but I don't think separating those are useful.
			</p>
		</li>
		<li>
			<p class='system-label'>Ok</p>
			<p>
				Most food lands in this category, it still tastes really good if I'm hungry.
				Although I would not grumble if this was suggested among friends, but there are obvious improvements to be made.
			</p>
		</li>
		<li>
			<p class='system-label'>Good</p>
			<p>
				When I think food is good, that means it's above average, but there are still subtle things that could be improved.
			</p>
		</li>
		<li>
			<p class='system-label'>Great</p>
			<p>
				Great food is perfectly executed and as great as I could imagine it.
			</p>
		</li>
		<li>
			<p class='system-label'>AMAZING</p>
			<p>
				This means I did not know this kind of food could be this good.
				It was perfectly executed and showed me a side of food beyond my imagination.
			</p>
		</li>
	</ul>
	<p>
		I'm not a professional cook or anything, just a self-proclaimed foodie.
		I also keep track of the date here because a restaurant's quality can change a lot over time.
		For the AMAZING locations, I've also included my favourite menu item in hopes you'd order it too!
	</p>
	<div class="food-table-div">
		<table>
			<tr>
				<th class="food-table-header">Greater Toronto Area, ON</th>
			</tr>
			<tr>
				<th class="food-category-header">AMAZING</th>
			</tr>
			<tr>
				<td> <!-- AMAZING -->
					<ul>
						<li>Pat's Homestyle Jamaican Restaurant (2022) - Jerk Pork</li>
						<li>Yianni's Kitchen (2022) - Beef Gyros Pita</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Great</th>
				<th class="food-category-header">Good</th>
			</tr>
			<tr>
				<td> <!-- Great -->
					<ul>
						<li>Love Gelato (2022) - Mango Gelato</li>
						<li>Elegance Dim Sum Cuisine (2022)</li>
					</ul>
				</td>
				<td> <!-- Good -->
					<ul>
						<li>Bayleaf Indian Kitchen (2022)</li>
						<li>Messi Shawarma (2022)</li>
						<li>Streetside Munchies (2022)</li>
						<li>TAKUMI Japanese BBQ (2022)</li>
						<li>Pho Viet Xpress (2022)</li>
						<li>澳門街 (2022)</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Ok</th>
				<th class="food-category-header">Bad</th>
			</tr>
			<tr>
				<td> <!-- Ok -->
					<ul>
						<li>Dragon Pearl Buffet (2022)</li>
						<li>Burrito Boyz (2022)</li>
						<li>Portland Jerk (2022)</li>
					</ul>
				</td>
				<td> <!-- Bad -->
					<ul>
						<li>Shawarma Royale (2022)</li>
						<li>Laseez Shawarma (2022)</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	<div class="food-table-div">
		<table>
			<tr>
				<th class="food-table-header">Calgary, AB</th>
			</tr>
			<tr>
				<th class="food-category-header">AMAZING</th>
			</tr>
			<tr>
				<td> <!-- AMAZING -->
					<ul>
						<li>Song Huong (2022) - Bun Bo Hue</li>
						<li>Calan Beef Noodle (2022) - #8 with Thin Noodles</li>
						<li>Jimmy's A&A (2022) - Beef Donair</li>
						<li>Vero Bistro (2022) - The Special</li>
						<li>Thi Thi (2022) - Sate Beef Sub</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Great</th>
				<th class="food-category-header">Good</th>
			</tr>
			<tr>
				<td> <!-- Great -->
					<ul>
						<li>Saigon Maxim (2022)</li>
						<li>Shawarma King (2022)</li>
					</ul>
				</td>
				<td> <!-- Good -->
					<ul>
						<li>Dagu Rice Noodle (2021)</li>
						<li>Moon Korean BBQ (2021)</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Ok</th>
				<th class="food-category-header">Bad</th>
			</tr>
			<tr>
				<td> <!-- Ok -->
					<ul>
						<li>Calgary Court (2022)</li>
						<li>Pho Hoai Vietnamese Noodle House (2022)</li>
						<li>U & Me (2021)</li>
						<li>Pho City (2021)</li>
						<li>1Pot (2021)</li>
						<li>Insadong (2021)</li>
					</ul>
				</td>
				<td> <!-- Bad -->
					<ul>
						<li>Peter's Drive-In (2020)</li>
						<li>Yemeni Village (2019)</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	<h1 class="anime-title">Anime</h1>
	<img class="reviews-food-banner" src="/resources/images/anime-banner.png"></img>
	<p>
		This is a collection of reviews for anime I've watched.
		That said, this list is as biased as you could get towards my personal tastes, so don't expect objective opinions here.
		For rating anime, I think in a very compartmentalized way, so in the same fashion, I have a specific system.
		I rank them in 3 different categories out of 5: Premise, Plot, and Execution.
		<ul class="system-list">
			<li>
				<p class='system-label'>Premise</p>
				<p>
					This would be the elevator pitch, the whole idea behind the anime.
				</p>
			</li>
			<li>
				<p class='system-label'>Plot</p>
				<p>
					This is how the story is written, including characters, kind of how it'd be as a novel.
				</p>
			</li>
			<li>
				<p class='system-label'>Execution</p>
				<p>
					This is everything else, from the visuals, and the moment to moment dynamic.
				</p>
			</li>
		</ul>
		Generally any anime with good execution is worth a watch, it'll be enjoyable.
		But it would be a good plot and premise that'd really make it a notable anime.
	</p>
	<table class="anime-table">
		<tr>
			<th>Name</th>
			<th>Premise</th>
			<th>Plot</th>
			<th>Execution</th>
		</tr>
		<tr>
			<td>Attack on Titan</td>
			<td>5</td>
			<td>4</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Demon Slayer: Kimetsu no Yaiba</td>
			<td>2</td>
			<td>3</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Dr. STONE</td>
			<td>5</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Erased</td>
			<td>3</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Full Metal Alchemist: Brotherhood</td>
			<td>4</td>
			<td>4</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Goblin Slayer</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Haikyu!!</td>
			<td>4</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Jujutsu Kaisen</td>
			<td>3</td>
			<td>3</td>
			<td>3</td>
		</tr>
		<tr>
			<td>MOB PSYCHO 100</td>
			<td>2</td>
			<td>3</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Mobile Suit: Gundam SEED</td>
			<td>3</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Mobile Suit Gundam: Iron-Blooded Orphans</td>
			<td>4</td>
			<td>3</td>
			<td>5</td>
		</tr>
		<tr>
			<td>My Dress-Up Darling</td>
			<td>5</td>
			<td>3</td>
			<td>3</td>
		</tr>
		<tr>
			<td>My Hero Academia</td>
			<td>1</td>
			<td>2</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Parasyte -The Maxim-</td>
			<td>4</td>
			<td>3</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Odd Taxi</td>
			<td>3</td>
			<td>5</td>
			<td>2</td>
		</tr>
		<tr>
			<td>One-Punch Man</td>
			<td>4</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Rascal Does Not Dream of Bunny Girl Senpai</td>
			<td>4</td>
			<td>1</td>
			<td>2</td>
		</tr>
	</table>
</div>
{{end}}
