{{define "content"}}
<div class="reviews-content">
	<h1>Co-op Games</h1>
	<img class="reviews-food-banner" src="/resources/images/gaming.png"></img>
	<p>
		My friend (Mohammed) and I play a lot of co-op games together and this is our ratings of them. The completed column is based on if we explored most of the content together or not.
	</p>

	<div class="anime-games-table">
		<div class="anime-games-table-header-row games-only">
			<p>Name</p>
			<p>Enoch</p>
			<p>Mo</p>
			<p>Done</p>
			<p>Avg</p>
		</div>
		<div class="anime-games-table-row clickable-row">
			<div class="anime-games-review-info games-only">
				<p>
					<svg class="arrow" viewbox="0 0 87 100">
						<path d="M86.6,50 L0,0 L0,100 L86.6,50 Z" />
					</svg>
					Factorio
				</p>
				<p>10</p>
				<p>10</p>
				<p>Yes</p>
				<p>10</p>
			</div>
			<div class="anime-games-review-blurb">
				<p>
					This is the top game for both of us, the space expansion really pushed it over the top!
				</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Satisfactory</p>
				<p>10</p>
				<p>10</p>
				<p>Yes</p>
				<p>10</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Anno 1800</p>
				<p>10</p>
				<p>9</p>
				<p>Yes</p>
				<p>9.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Overcooked 2</p>
				<p>9</p>
				<p>10</p>
				<p>Yes</p>
				<p>9.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Outriders</p>
				<p>9</p>
				<p>9</p>
				<p>Yes</p>
				<p>9</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Stardew Valley</p>
				<p>9</p>
				<p>8</p>
				<p>Yes</p>
				<p>8.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Split Fiction</p>
				<p>8</p>
				<p>9</p>
				<p>Yes</p>
				<p>8.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Plate Up</p>
				<p>8</p>
				<p>9</p>
				<p>Yes</p>
				<p>8.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Helldivers 2</p>
				<p>9</p>
				<p>7</p>
				<p>Yes</p>
				<p>8</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Vermintide 2</p>
				<p>8</p>
				<p>8</p>
				<p>No</p>
				<p>8</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Gears of War 5</p>
				<p>8</p>
				<p>8</p>
				<p>Yes</p>
				<p>8</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Valheim</p>
				<p>10</p>
				<p>5</p>
				<p>No</p>
				<p>7.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Baldur's Gate 3</p>
				<p>7</p>
				<p>8</p>
				<p>Yes</p>
				<p>7.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Orcs Must Die 3</p>
				<p>8</p>
				<p>7</p>
				<p>No</p>
				<p>7.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>It Takes Two</p>
				<p>7</p>
				<p>8</p>
				<p>Yes</p>
				<p>7.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Core Keeper</p>
				<p>7</p>
				<p>8</p>
				<p>Yes</p>
				<p>7.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Sons of the Forest</p>
				<p>7</p>
				<p>8</p>
				<p>Yes</p>
				<p>7.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Rounds</p>
				<p>6</p>
				<p>8</p>
				<p>Yes</p>
				<p>7</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Enshrouded</p>
				<p>7</p>
				<p>7</p>
				<p>Yes</p>
				<p>7</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Astroneer</p>
				<p>7</p>
				<p>7</p>
				<p>Yes</p>
				<p>7</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Unrailed</p>
				<p>7</p>
				<p>7</p>
				<p>Yes</p>
				<p>7</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Operation Tango</p>
				<p>7</p>
				<p>7</p>
				<p>Yes</p>
				<p>7</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>A Way Out</p>
				<p>6</p>
				<p>7</p>
				<p>Yes</p>
				<p>6.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>V Rising</p>
				<p>6</p>
				<p>6</p>
				<p>No</p>
				<p>6</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Spelunky 2</p>
				<p>6</p>
				<p>6</p>
				<p>No</p>
				<p>6</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>We Were Here</p>
				<p>6</p>
				<p>5</p>
				<p>Yes</p>
				<p>5.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Children of Morta</p>
				<p>5</p>
				<p>6</p>
				<p>No</p>
				<p>5.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Borderlands 3</p>
				<p>6</p>
				<p>5</p>
				<p>Yes</p>
				<p>5.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Lethal Company</p>
				<p>6</p>
				<p>5</p>
				<p>No</p>
				<p>5.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Helldivers 1</p>
				<p>5</p>
				<p>5</p>
				<p>No</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Mindustry</p>
				<p>5</p>
				<p>5</p>
				<p>No</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Octodad</p>
				<p>5</p>
				<p>5</p>
				<p>Yes</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Fight Crab</p>
				<p>4</p>
				<p>6</p>
				<p>Yes</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Fish Hero</p>
				<p>5</p>
				<p>4</p>
				<p>No</p>
				<p>4.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Outward</p>
				<p>5</p>
				<p>3</p>
				<p>No</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Anno 2070</p>
				<p>4</p>
				<p>3</p>
				<p>No</p>
				<p>3.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>Cook Serve Delicious 3</p>
				<p>2</p>
				<p>3</p>
				<p>No</p>
				<p>2.5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info games-only">
				<p>FlyKnight</p>
				<p>2</p>
				<p>3</p>
				<p>No</p>
				<p>2.5</p>
			</div>
		</div>
		<div class="anime-games-table-row clickable-row">
			<div class="anime-games-review-info games-only">
				<p>
					<svg class="arrow" viewbox="0 0 87 100">
						<path d="M86.6,50 L0,0 L0,100 L86.6,50 Z" />
					</svg>
					Dungeon Borne
				</p>
				<p>1</p>
				<p>1</p>
				<p>No</p>
				<p>1</p>
			</div>
			<div class="anime-games-review-blurb">
				<p>
					This is probably not the game you're thinking of, you can watch <a target="_blank" href="https://www.youtube.com/watch?v=jU8v79LoimE">our playthrough</a>.
				</p>
			</div>
		</div>
	</div>
	<h1 class="food-title">Food</h1>
	<img class="reviews-food-banner" src="/resources/images/food.png"></img>
	<p>
		I like to keep track of the places I eat at and I also have a systematic way of ranking food as well.
		I only rate the food; not the prices, atmosphere, or service, because it is the food that will get me coming back.
		This system is also not linear on a scale of 1-10, for example an *OK* restaurant would be around a 6/10, not 4/10.
		The following is how I rank food:
	</p>
	<ul class="system-list">
		<li >
			<p class='system-label'>Bad</p>
			<p>
				This is food that does not taste good even if I'm hungry, it would either be bland or have some kind of unpleasant flavor.
				Food can range from bad to absolutely terrible, but I don't think separating those are useful.
			</p>
		</li>
		<li>
			<p class='system-label'>Ok</p>
			<p>
				Most food lands in this category, it still tastes really good if I'm hungry.
				Although I would not grumble if this was suggested among friends, there are obvious improvements to be made.
				This doesn't mean the place is below average though, on a scale of 1-10 this is something like a 6.
			</p>
		</li>
		<li>
			<p class='system-label'>Good</p>
			<p>
				When I think food is good, that means it's above average, but there are still subtle things that could be improved.
				This is the kind of place I'd go to regularly if I lived close by.
			</p>
		</li>
		<li>
			<p class='system-label'>Great</p>
			<p>
				Great food is perfectly executed and as great as I could imagine it.
				This is the kind of place I'd go to often if I lived in the same city.
			</p>
		</li>
		<li>
			<p class='system-label'>AMAZING</p>
			<p>
				This means I did not know this kind of food could be this good.
				It was perfectly executed and showed me a side of food beyond my imagination.
				If I was visiting the area, I would make sure to go here.
			</p>
		</li>
	</ul>
	<p>
		I'm not a professional cook or anything, just a self-proclaimed foodie.
		I also keep track of the date here because a restaurant's quality can change a lot over time.
		For the AMAZING locations, I've also included my favourite menu item in hopes you'd order it too!
	</p>
	<div class="food-table-div">
		<table>
			<tr>
				<th class="food-table-header">Greater Toronto Area, ON</th>
			</tr>
			<tr>
				<th class="food-category-header">AMAZING</th>
			</tr>
			<tr>
				<td> <!-- AMAZING -->
					<ul>
						<li>Kebab 49 (2024) - Meat Platters</li>
						<li>Seven Lives Tacos y Mariscos (2024)</li>
						<li>R&D (2023) - Best Duck in the City</li>
						<li>Koh Lipe (2024) - Pineapple Fried Rice</li>
						<li>Raku (2024) - Pineapple Fried Rice</li>
						<li>Don Alfonso (2024) - Eel Gelato</li>
						<li>Pat's Homestyle Jamaican Restaurant (2022) - Jerk Pork</li>
						<li>Yianni's Kitchen (2022) - Beef Gyros Pita</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Great</th>
				<th class="food-category-header">Good</th>
			</tr>
			<tr>
				<td> <!-- Great -->
					<ul>
						<li>Daldongnae Korean BBQ - Downtown Christie (2024)</li>
						<li>Sizzler's Kabab (2024)</li>
						<li>Shi Miao Dao (2024)</li>
						<li>Gia (2024)</li>
						<li>Anh Dao (2024)</li>
						<li>Ajisen Ramen (2023)</li>
						<li>Khao San Road (2023)</li>
						<li>Love Gelato (2022) - Mango Gelato</li>
						<li>Elegance Dim Sum Cuisine (2022)</li>
						<li>Pho Thien Thanh (2022)</li>
					</ul>
				</td>
				<td> <!-- Good -->
					<ul>
						<li>Aloette (2024)</li>
						<li>House of Gourmet (2024)</li>
						<li>Fudao Noodle House (2023)</li>
						<li>Rol San (2023)</li>
						<li>Yin Ji Chang Fen (2023)</li>
						<li>Sushi House (2023)</li>
						<li>Siempre (2023)</li>
						<li>Pita & Grill (By Union Station) (2023)</li>
						<li>Pho Bo To (2023)</li>
						<li>Loaded Pierogi (2023)</li>
						<li>Fudao Noodle House (2023)</li>
						<li>Pho Linh (2023)</li>
						<li>Pho Black Bull (2023)</li>
						<li>Aanch (2023)</li>
						<li>Phoenix Restaurant (2023)</li>
						<li><a class='review-link' internal-href="ramen-isshin-review">Ramen Isshin (2022)</a></li>
						<li>Bayleaf Indian Kitchen (2022)</li>
						<li><a class='review-link' internal-href="ago-bistro-review">AGO Bistro (2022)</a></li>
						<li>Yummy Wok (2023)</li>
						<li>TAKUMI Japanese BBQ (2022)</li>
						<li>Pho Viet Xpress (2022)</li>
						<li>澳門街 (2022)</li>
						<li>Gus Tacos (2022)</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Ok</th>
				<th class="food-category-header">Bad</th>
			</tr>
			<tr>
				<td> <!-- Ok -->
					<ul>
						<li>Gusto 101 (2024)</li>
						<li>Wilbur Mexicana (2024)</li>
						<li>CÀ PHÊ RANG (2024)</li>
						<li>Sang's Great Seafood Restaurant (2024)</li>
						<li>Mother's Dumplings (2024)</li>
						<li>Swatow (2024)</li>
						<li>Smoque & Bones (2024)</li>
						<li>Paramount Lebanese Kitchen (2023)</li>
						<li>Mean Bao Union Station (2023)</li>
						<li>Sultan Ahmet (2023)</li>
						<li>Streetside Munchies (2023)</li>
						<li>Matt's Burger Lab (Adelaide) (2023)</li>
						<li>Messi Shawarma (2023)</li>
						<li>Juicy Dumpling (2023)</a></li>
						<li>The Golden Pheasant (2023)</a></li>
						<li><a class='review-link' internal-href="busters-sea-cove-review">Buster's Sea Cove (2022)</a></li>
						<li>Avani (2022)</li>
						<li>Uno Mustachio (2022)</li>
						<li>Pita Nutso (2022)</li>
						<li><a class='review-link' internal-href="paradise-shawarma-review">Paradise Shawarma (2022)</a></li>
						<li>Dragon Pearl Buffet (2022)</li>
						<li>Latin Taste (2022)</li>
						<li>Burrito Boyz (2022)</li>
						<li>Portland Jerk (2022)</li>
						<li>Magical Taste of China (2022)</li>
						<li>Soos (2022)</li>
					</ul>
				</td>
				<td> <!-- Bad -->
					<ul>
						<li>Bank Bao (2023)</li>
						<li>New Sky Restaurant (2023)</li>
						<li>Pho Hung (2023)</li>
						<li>King's Noodle Restuarant (2023)</li>
						<li>New Sky Restaurant (2023)</li>
						<li>Patties Express (2023)</li>
						<li>Halibut House Fish & Chips (2023)</li>
						<li>Shawarma Royale (2022)</li>
						<li>Laseez Shawarma (2022)</li>
						<li>Fresco's Fish & Chips (2022)</li>
						<li>Carribean Flavours (2022)</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	<div class="food-table-div">
		<table>
			<tr>
				<th class="food-table-header">Calgary, AB</th>
			</tr>
			<tr>
				<th class="food-category-header">AMAZING</th>
			</tr>
			<tr>
				<td> <!-- AMAZING -->
					<ul>
						<li>Song Huong (2025) - Bun Bo Hue</li>
						<li>Calan Beef Noodle (2022) - #8 with Thin Noodles</li>
						<li>Jimmy's A&A (2025) - Beef Donair</li>
						<li>Vero Bistro (2022) - The Special</li>
						<li>Thi Thi (2022) - Sate Beef Sub</li>
						<li>Carino (2025) - Duck! Duck!!</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Great</th>
				<th class="food-category-header">Good</th>
			</tr>
			<tr>
				<td> <!-- Great -->
					<ul>
						<li>Savona's Pizza (2025)</li>
						<li>Queen's Breakfast Cocktails (2025)</li>
						<li>GOGI (2025)</li>
						<li>Shawarma King (2022)</li>
					</ul>
				</td>
				<td> <!-- Good -->
					<ul>
						<li>Seniore's (2025)</li>
						<li>Ten Foot Henry (2025)</li>
						<li>T.Pot China Bistro (2025)</li>
						<li>BaekJeong Korean BBQ House (2025)</li>
						<li>Jerusalem Shawarma (2025)</li>
						<li>Lac Viet (2025)</li>
						<li>Saigon Maxim (2024)</li>
						<li>Dagu Rice Noodle (2021)</li>
						<li>Moon Korean BBQ (2021)</li>
					</ul>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th class="food-category-header">Ok</th>
				<th class="food-category-header">Bad</th>
			</tr>
			<tr>
				<td> <!-- Ok -->
					<ul>
						<li>Famous Noodles & BBQ Cafe (2025)</li>
						<li>Kinjo Sushi & Grill District (2025)</li>
						<li>Rice Table Korean Kitchen (2025)</li>
						<li>Pho Chu The (2023)</li>
						<li>Calgary Court (2022)</li>
						<li>Pho Hoai Vietnamese Noodle House (2022)</li>
						<li>U & Me (2021)</li>
						<li>Pho City (2021)</li>
						<li>1Pot (2021)</li>
						<li>Insadong (2021)</li>
					</ul>
				</td>
				<td> <!-- Bad -->
					<ul>
						<li>Peter's Drive-In (2020)</li>
						<li>Yemeni Village (2019)</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
	<h1 class="anime-title">Anime</h1>
	<img class="reviews-food-banner" src="/resources/images/anime-banner.png"></img>
	<p>
		This is a collection of reviews for anime I've watched.
		That said, this list is as biased as you could get towards my personal tastes, so don't expect objective opinions here.
		For rating anime, I think in a very compartmentalized way, so in the same fashion, I have a specific system.
		I rank them in 3 different categories out of 5: Premise, Plot, and Execution.
		<ul class="system-list">
			<li>
				<p class='system-label'>Premise</p>
				<p>
					This would be the elevator pitch, the whole idea behind the anime.
				</p>
			</li>
			<li>
				<p class='system-label'>Plot</p>
				<p>
					This is how the story is written, including characters, kind of how it'd be as a novel.
				</p>
			</li>
			<li>
				<p class='system-label'>Execution</p>
				<p>
					This is everything else, from the visuals, and the moment to moment dynamic.
				</p>
			</li>
		</ul>
		I would recommend anything on here that has a 5 in any category, regardless of the other ratings.

	</p>
	<p class="spoiler-warning">WARNING: There are SPOILERS in the expansions the ratings.</p>
	<div class="anime-games-table">
		<div class="anime-games-table-header-row">
			<p>Name</p>
			<p>Premise</p>
			<p>Plot</p>
			<p>Execution</p>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>A Place Further Than the Universe</p>
				<p>4</p>
				<p>2</p>
				<p>2</p>
			</div>
		</div>
		<div class="anime-games-table-row clickable-row">
			<div class="anime-games-review-info">
				<p>
					<svg class="arrow" viewbox="0 0 87 100">
						<path d="M86.6,50 L0,0 L0,100 L86.6,50 Z" />
					</svg>
					Attack on Titan
				</p>
				<p>5</p>
				<p>4</p>
				<p>5</p>
			</div>
			<div class="anime-games-review-blurb">
				<p>
					This is my favourite anime, I loved the deep level of mystery in the premise; any anime that successfully creates a novel world has at least a 4 in terms of premise.
					The plot was probably the biggest seller to me, rewatching Reiner, Bertholt, and Annie's dialogue after knowing their background was mind-blowing.
					A mixture of action in the titan fights and the delivery of each character's motivations is what gives it a 5 in execution.
					<br></br>
					The only thing that kept this anime from a perfect score was the ending.
					In my opinion, the ending wasn't bad, it just didn't live up to the rest of the anime.
					It was a little hand-wavy in terms of sci-fi magic and just didn't contain the same level of grit and conflict as the rest of the anime.
				</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Beastars</p>
				<p>3</p>
				<p>4</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Black Clover</p>
				<p>1</p>
				<p>2</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Cyberpunk: Edge Runners</p>
				<p>3</p>
				<p>3</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Dandadan (Up to S1)</p>
				<p>2</p>
				<p>2</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Delicious in Dungeon (Up to S1)</p>
				<p>3</p>
				<p>2</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Demon Slayer: Kimetsu no Yaiba (Up to S4)</p>
				<p>2</p>
				<p>3</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Dr. STONE</p>
				<p>5</p>
				<p>2</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Don't Toy with Me, Miss Nagatoro (Up to E5)</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Erased</p>
				<p>3</p>
				<p>1</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Eureka Seven</p>
				<p>3</p>
				<p>4</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Frieren: Beyond Journey's End (Up to S1)</p>
				<p>4</p>
				<p>2</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Full Metal Alchemist: Brotherhood</p>
				<p>4</p>
				<p>4</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Goblin Slayer (Up to S1)</p>
				<p>2</p>
				<p>3</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Gurren Lagann</p>
				<p>4</p>
				<p>4</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Haikyu!! (Up to S4)</p>
				<p>3</p>
				<p>2</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Jujutsu Kaisen (Up to S2)</p>
				<p>3</p>
				<p>3</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Kabaneri of the Iron Fortress</p>
				<p>4</p>
				<p>3</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>MOB PSYCHO 100</p>
				<p>2</p>
				<p>3</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Mobile Suit: Gundam SEED</p>
				<p>3</p>
				<p>2</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Mobile Suit Gundam: Iron-Blooded Orphans</p>
				<p>4</p>
				<p>3</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row clickable-row">
			<div class="anime-games-review-info">
				<p>
					<svg class="arrow" viewbox="0 0 87 100">
						<path d="M86.6,50 L0,0 L0,100 L86.6,50 Z" />
					</svg>
					My Dress-Up Darling (Up to S1)
				</p>
				<p>5</p>
				<p>1</p>
				<p>4</p>
			</div>
			<div class="anime-games-review-blurb">
				<p>
					This one is a bit unlike most of the other anime I've watched here.
					I think the premise of a couple bonding together over making cosplays was pretty fresh.
					The plot itself is pretty boring overall I'd say, it just goes through a couple's love story without a lot of conflict, but it does make it easy to watch.
					<br></br>
					Although if you really strip down the plot itself, I think it is boring; but it didn't make it unenjoyable to watch.
					The delivery of the characters' dialogues was sentimental and impactful; that, and I think the fan-service was solid and inserted at logical times.
				</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>My Hero Academia (Up to S5)</p>
				<p>1</p>
				<p>2</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Neon Genesis Evangelion</p>
				<p>4</p>
				<p>3</p>
				<p>2</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Odd Taxi</p>
				<p>3</p>
				<p>5</p>
				<p>2</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>One-Punch Man (Up to S2)</p>
				<p>4</p>
				<p>2</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Parasyte -The Maxim-</p>
				<p>4</p>
				<p>2</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Rascal Does Not Dream of Bunny Girl Senpai</p>
				<p>4</p>
				<p>1</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Ranking of Kings</p>
				<p>4</p>
				<p>2</p>
				<p>2</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Rent-A-Girlfriend (Up to S2)</p>
				<p>4</p>
				<p>2</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>SPY x FAMILY (Up to S2)</p>
				<p>5</p>
				<p>3</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Sword Art Online (Up to S2)</p>
				<p>5</p>
				<p>2</p>
				<p>3</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>The Disastrous Life of Saiki K.</p>
				<p>4</p>
				<p>2</p>
				<p>4</p>
			</div>
		</div>
		<div class="anime-games-table-row clickable-row">
			<div class="anime-games-review-info">
				<p>
					<svg class="arrow" viewbox="0 0 87 100">
						<path d="M86.6,50 L0,0 L0,100 L86.6,50 Z" />
					</svg>
					Tower of God (Up to S1)
				</p>
				<p>5</p>
				<p>4</p>
				<p>2</p>
			</div>
			<div class="anime-games-review-blurb">
				<p>
					Tower of God drops us into a unique world that is totally unlike life as we know it, with the entire population's lives enamored by climbing the tower.
					And in this unique world, we also follow one of the greatest anomalies the tower has ever seen, leading to an intriguing and thoughtful premise.
					The plot is also quite good.
					We follow Baam who is chasing after a friend, while that sounds a little corny (looking at you Naruto), it makes sense considering Baam's original situation.
					The plot is strengthened by the many imaginative and interesting characters we meet along the way, along with the creative and thought-provoking stages throughout the tower.
					<br></br>
					Unfortunately, I think the anime adaptation was a bit lacking in the execution department.
					I felt that the animation was lackluster compared to the extragance of the tower, but I think it's hard to match up to the modern-day juggernauts like Demon Slayer.
					As a preface, I read most of the manhwa before watching the anime adaptation.
					With what's coming up, I hope the animation picks up and the studios get more budget to give the grandiose beauty that Tower of God will deserve.
				</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Usagi Drop</p>
				<p>5</p>
				<p>4</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Violet Evergarden</p>
				<p>5</p>
				<p>3</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Vinland Saga (Up to S2)</p>
				<p>4</p>
				<p>5</p>
				<p>5</p>
			</div>
		</div>
		<div class="anime-games-table-row">
			<div class="anime-games-review-info">
				<p>Your Lie in April</p>
				<p>4</p>
				<p>4</p>
				<p>4</p>
			</div>
		</div>
	</div>
</div>
<script src="/resources/js/reviews.js" type="text/javascript"></script>
{{end}}
