.about-content {
	display: flex;
	cursor: text;
}

.about-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-content p {
	margin: 11px;
	font-size: 1.2em;
	text-align: left;
}


.about-profile {
	width: auto;
	height: 40rem;
}