.articles-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.articles-content h1 {
    width: 70%;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    box-shadow: 5px 5px 10px #888888;
}

.articles-content h1,
.articles-content h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    background: #444;
}


.articles-section {
    width: 70%;
    margin-bottom: 1rem;
}

.articles-section h2 {
    text-align: left;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
}

.articles-list h3 {
    text-align: left;
}

.articles-list a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.7rem 1.5rem;

    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    color: #EEE;
    background: #555;
    margin-top: 2px;
    border-left: 1rem solid #EE7600;
}

.articles-list a:hover,
.articles-list a:focus,
.articles-list a:active {
    border-left: 1rem solid #E6B400;
    background: #666;
}
