.articles-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.articles-content h1 {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;

    text-align: left;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

    box-shadow: 5px 5px 10px #888888;
    color: white;
    background: #444;
}

.articles-content hr {
    width: 80%;
    height: 2px;
    border: none;
    background: black;
    margin: auto;
}

.articles-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-around;
}

.articles-section {
    width: 80%;
}

.articles-section h2 {
    font-style: italic;
    text-align: left;
}

.articles-list {
    padding: 1rem;
}

.articles-list h3 {
    text-align: left;
}

.articles-list a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.7rem 1.5rem;

    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    color: #DDD;
    background: #444;
    margin-bottom: 2px;
    border-left: 1rem solid #EE7600;
}

.articles-list a:hover,
.articles-list a:focus,
.articles-list a:active {
    border-left: 1rem solid #E6B400;
    background: #555;
}
