.article-content {
	max-width: 1000px;
	width: 95%;
	min-width: 500px;

	margin-bottom: 4rem;
	
	text-align: left;
	font-family: 'Lora', serif;
}

.article-content p, 
.article-content li {
	font-size: 1.1rem;
	line-height: 1.8rem;
	margin: auto;
}

.article-content ul,
.article-content ol {
	margin-top: 1rem;
	margin-bottom: 1rem;	
}

.article-content li {
	margin-left: 2rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

.article-content ul li {
	list-style-type: square;
}

.article-content ul ul li {
	list-style-type: circle;
}

.article-content ol li {
	list-style-type: decimal;
}

.article-content img {
	display: block;
	margin: 1rem auto;
	max-width: 100%;
	border: 2px solid #222;
	box-shadow: 10px 10px 10px #888888;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
	margin-bottom: 2rem;
	/*margin-left: 0.5rem;*/
	/*margin-right: 0.5rem;*/
    
	text-align: left;
    font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	box-shadow: 5px 5px 10px #888888;
	color: white;
	background: #444;
}

.article-content h1 {
	padding: 1rem 1.5rem;
	margin-top: 2rem;
}

.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
	padding: 0.5rem 1.5rem;
	margin-top: 5rem;
}

/* Negate 5rem margin top if h2 immediately preceded by another header*/
.sect2:first-child h3  {
	margin-top: 2rem;
}

.article-content h1 {
	border: 0.5px solid black;
	border-bottom: 2.5px solid black;
}
.article-content h2 {
	border: 0.5px solid black;
	border-bottom: 2px solid black;
}
.article-content h3 {
	border: 0.5px solid black;
	border-bottom: 1.5px solid black;
}
.article-content h4 {
	border: 0.5px solid black;
	border-bottom: 1px solid black;
}
.article-content h5 {
	border: 0.5px solid black;
}
.article-content h6 {
	border: 0.5px solid black;
}

.article-content h1 ~ div,
.article-content h2 ~ div,
.article-content h3 ~ div,
.article-content h4 ~ div,
.article-content h5 ~ div,
.article-content h6 ~ div {
	margin: 1rem;
}

.article-content pre, code {
	font-family: "Courier New", Courier, monospace;
	background: #FEFEFE;
	border-radius: 1px;
	font-size: 0.8rem;
	vertical-align: middle;
	overflow-x: auto;
}

.article-content code {
	padding: 0 5px;
}

.article-content pre {
	margin: 9px 0px;
	padding: 6px 10px;
	
	border: 2px solid #666;
	box-shadow: 5px 5px 10px #888888;
	
	line-height: 1rem;
}

.article-content div .content {
	margin-bottom: 0;
}

.article-content .listingblock {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

.article-content table {
	border-collapse: collapse;
	margin: 9px;
	width: 100%;
	background: #444;
	color: white;
	text-align: center;
    font-family: 'Raleway', sans-serif;
}

.article-content caption.title {
	margin-bottom: 3px;
	color: black;
    font-size: 0.8rem;
    font-style: italic;
    text-align: right; 
}

.article-content .admonitionblock {
    display: table;
    margin-left: 1rem;
}

.article-content .admonitionblock .title {
	font-size: 1.18rem;
	min-width: 4rem;
}

.article-content .admonitionblock .content .title {
	font-size: 1.18rem;
	min-width: 4rem;
	text-transform: uppercase;
	font-weight: bold;
}

.article-content .listingblock .title {
	font-size: 0.8rem;
	font-style: italic;
	text-align: right;
}

.article-content .icon {
	vertical-align: middle;
	text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
}

.article-content th, td {
	border: 2px solid #999;
	padding: 9px;
	text-align: center; 
}

.article-content th {
	font-weight: bold;
}

.quoteblock {
	font-family: 'Lora', serif;
	border-left: 2px solid #999;
	margin-top: 0.5rem; 
	margin-bottom: 0.5rem;
	margin-left: 0.8rem;
	padding-left: 0.8rem;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 1rem;
}

.quoteblock .content {
	text-align: left;
	font-style: italic;
}
