html {
    min-height: 100%;
}

body {
    min-height: 100vh;

    background-image: url("/resources/images/geometric-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: 'Raleway', sans-serif;
}

h1 { 
    font-size: 2em;
    text-align: center;
}

h2 { 
    font-size: 1.5em;
    text-align: center;
}

h3 { 
    font-size: 1.17em;
    text-align: center;
}

h4 { 
    font-size: 1.12em;
    text-align: center;
}

h5 { 
    font-size: .83em;
    text-align: center;
}

h6 { 
    font-size: .75em;
    text-align: center;
}

header {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 30vh;
    
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("/resources/images/coffeeshop-background.jpg");
    background-size: 100%;
    background-position: center;
    
    opacity: 0;
}

.signature {
    position: absolute;

    height: 15vh;

    display: none;
}

@media (max-width: 800px) {
    .signature {
        height: auto;
        width: 80%;
    }
}

.nav-bar-border {
    background-color: #777;
    height: 3px;
}

.nav-bar {
    overflow: hidden;
    background-color: #222;
    display: flex;
    height: 5vh;
    justify-content: center;
}

.nav-bar input {
    font-family: 'Share Tech Mono', monospace;
    background-color: #444;
    border: none;
    text-align: center;
    color: #AAA;
    text-transform: uppercase;
    min-width: 474px; /* screen width - 2*padding - 2*border */
    font-size: 3vh;
    padding: 10px;
    width: 50%;
    /*overflow: hidden;*/
    border-bottom: none;
    border-left: 3px solid #777;
    border-right: 3px solid #777;
    border-top: none;
    vertical-align: center;
}

.nav-bar input:focus {
    outline:none;
}

.nav-bar input:hover {
    background-color: #555;
    cursor: pointer;
}


::-webkit-input-placeholder {
    color: #666;
}

@media (max-width: 500px) {
    .nav-bar input {
        border: none;
        min-width: 480px;
    }
}

.navigation-container {
    width: 100%;
}

.navigation-background {
    position: absolute;
    background: linear-gradient(to bottom, 
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0) 100%);
    height: 400px;
    width: 100%;
    display: none;
}

.navigation-icon {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    align-items: center;
    color: #444;
    justify-content: center;
    flex-direction: column;
    min-height: 280px;
    width: 100%;
    display: none;
}

.pentagon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 62px;
    height: 150px;
    width: 150px;
}

.navigation-links {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 62px;
    height: 150px;
    width: 150px;

}

.navigation-links h2 {
    position: absolute;
}

.navigation-links a {
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;    
}

.navigation-links a:hover {
    color: #F20;
    cursor: pointer;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
    overflow-x:hidden
}

.about {
    top: -30px;
    width: 100%;
}

.portfolio {
    top: 45px;
    right: 145px;
    width: 100%;
}

.contact {
    bottom: -30px;
    right: 100px;
    width: 100%;
}

.articles {
    top: 45px;
    left: 140px;
    width: 100%;
}

.resume {
    bottom: -30px;
    left: 100px;
    width: 100%;
}

footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    border-top: 3px solid #777;
    height: 40px;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

footer div {
    margin-left: 14px;
    margin-right: 14px;
}

footer a {
    text-decoration: none;
}

footer a:link {
    color: #DDD;
}

footer a:visited {
    color: #DDD;
}

footer img {
    height: 14px;
    width: 14px;
    vertical-align: bottom;
    filter: brightness(90%);
}

footer div {
    display: none;
}

.github-link img {
    padding-right: 5px;
}

.email-link img {
    padding-left: 5px;
}
