html {
    min-height: 100%;
}

body {
    min-height: 100vh;

    background-image: url("/resources/images/geometric-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: 'Raleway', sans-serif;
}

h1 { 
    font-size: 2em;
    text-align: center;
}

h2 { 
    font-size: 1.5em;
    text-align: center;
}

h3 { 
    font-size: 1.17em;
    text-align: center;
}

h4 { 
    font-size: 1.12em;
    text-align: center;
}

h5 { 
    font-size: .83em;
    text-align: center;
}

h6 { 
    font-size: .75em;
    text-align: center;
}

header {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 20rem;
    
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("/resources/images/coffeeshop-background.jpg");
    background-size: 100%;
    background-position: center;
    
    opacity: 0;
}

.signature {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 5rem;
    margin: auto;
    
    height: 10rem;

    display: none;
}

@media (max-width: 800px) {
    .signature {
        height: auto;
        width: 80%;
    }
}

.nav-bar-border {
    background-color: #777;
    height: 3px;
}

.nav-bar {
    overflow: hidden;
    background-color: #222;
    display: flex;
    height: 2.8rem;
    justify-content: center;
}

.nav-bar input {
    background-color: #444;
    min-width: 474px; /* screen width - 2*padding - 2*border */
    padding: 10px;
    width: 50%;

    border-bottom: none;
    border-left: 3px solid #777;
    border-right: 3px solid #777;
    border-top: none;

    color: #999;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.65rem;
    vertical-align: center;
}

.nav-bar input:focus {
    outline:none;
}

.nav-bar input:hover {
    background-color: #555;
    color: #AAA;
    cursor: pointer;
}


::-webkit-input-placeholder {
    color: #666;
}

::-webkit-input-placeholder:hover {
    color: #777;
}

@media (max-width: 500px) {
    .nav-bar input {
        border: none;
        min-width: 480px;
    }
}

.navigation-container {
    width: 100%;
}

.navigation-background {
    position: absolute;
    left: 0; 
    right: 0; 
    margin: auto; 
    
    height: 25rem;
    
    background: linear-gradient(to bottom, 
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0) 100%);

    display: none;
}

.navigation-icon {
    position: absolute;
    left: 0; 
    right: 0; 
    margin: auto; 
    
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    color: #444;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pentagon {
    position: absolute;
    left: 0; 
    right: 0; 
    margin: auto; 

    width: 100%;
    top: 4.3rem;
    height: 10rem;
    width: 10rem;
}

.navigation-links {
    position: absolute;
    left: 0; 
    right: 0; 
    margin: auto; 

    width: 100%;
    top: 4.3rem;
    height: 10rem;
    width: 10rem;
}

.navigation-links h2 {
    position: absolute;
}

.navigation-links a {
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;    
}

.navigation-links a:hover {
    color: #F20;
    cursor: pointer;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
    overflow-x:hidden
}

.about {
    top: -2.6rem;
    width: 100%;
}

.portfolio {
    top: 3.1rem;
    right: 10rem;
    width: 100%;
}

.contact {
    bottom: -2.6rem;
    right: 6.5rem;
    width: 100%;
}

.articles {
    top: 3.1rem;
    left: 9.5rem;
    width: 100%;
}

.resume {
    bottom: -2.6rem;
    left: 6.5rem;
    width: 100%;
}

.content-wrapper {
    margin: auto;
    width: 70%;
    min-height: 25rem;
    z-index: -30;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.1);
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;
  }

.content {
    display: flex;
    justify-content: center; 
    min-height: 25rem;
    position: relative;
    z-index: -15;
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

footer {
    border-top: 3px solid #777;
    height: 3rem;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

footer div {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

footer a {
    text-decoration: none;
}

footer a:link {
    color: #DDD;
}

footer a:visited {
    color: #DDD;
}

footer img {
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: bottom;
    filter: brightness(90%);
}

footer div {
    display: none;
}

.github-link img {
    padding-right: 5px;
}

.email-link img {
    padding-left: 5px;
}
