html {
    min-height: 100%;
    min-width: 600px;
}

body {
    min-height: 100vh;

    background-image: url("/resources/images/geometric-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Raleway', sans-serif;
}

@media (orientation: portrait) {
    body {
        background-image: url("/resources/images/geometric-mobile.jpg");
    }

}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.55em;
}

h3 {
    font-size: 1.17em;
    text-align: center;
    line-height: 1.2em;
}

h4 {
    font-size: 1.12em;
    text-align: center;
}

h5 {
    font-size: .83em;
    text-align: center;
}

h6 {
    font-size: .75em;
    text-align: center;
}

em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #EE7600;
}

a:hover {
    color: #FFCC11;   
}

header {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EEE;
}

.header-bg {
    position: absolute;

    width: 100%;
    min-width: 600px;
    height: 20rem;

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("/resources/images/coffeeshop-background.jpg");
    background-position: center;

    opacity: 0;
}

.signature {
    position: absolute;
    top: 5rem;

    margin: auto;
    display: none;
}

.signature img {
    height: 10rem;
    display: block;
}

@media (max-width: 800px) {
    .signature img {
        height: auto;
        width: 80%;
        min-width: 480px;
        margin: auto;
    }
}

.nav-bar-border {
    background-color: #777;
    height: 3px;
}

.nav-bar {
    height: 2.8rem;

    background-color: #222;
    display: flex;
    justify-content: center;
}

.nav-bar input {
    background-color: #444;
    min-width: 474px; /* screen width - 2*padding - 2*border */
    padding: 10px;
    width: 50%;

    border-bottom: none;
    border-left: 3px solid #777;
    border-right: 3px solid #777;
    border-top: none;

    color: #999;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.65rem;
}

.nav-bar input:focus {
    outline:none;
}

.nav-bar input:hover {
    background-color: #555;
    color: #AAA;
    cursor: pointer;
}


::-webkit-input-placeholder {
    color: #666;
}

::-webkit-input-placeholder:hover {
    color: #777;
}

@media (max-width: 500px) {
    .nav-bar input {
        border: none;
        min-width: 480px;
    }
}

.search-results {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 120;
}

.search-result {
    background-color: #444;
    min-width: 484px; /* screen width - 2*padding - 2*border */
    padding: 5px 10px;
    width: 50%;
    margin: auto;
    
    border: 3px solid #777;
    border-top: none;

    color: #999;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.search-result:hover {
    background-color: #666;
    cursor: pointer;
}

.fuzzy-bold {
    color: #DDD;
}

.picked-result {
    background-color: #555;
}

@media (max-width: 500px) {
    .search-result {
        border: none;
        min-width: 480px;
    }    
}

.navigation-container {
    margin-bottom: 3rem;
    z-index: 100;
}

.navigation-background {
    position: absolute;
    left: 0;
    right: 0;

    height: 25rem;

    background: linear-gradient(to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0) 100%);

    display: none;
}

.navigation-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    color: #444;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pentagon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    width: 100%;
    top: 4.3rem;
    height: 10rem;
    width: 10rem;
}

.navigation-links {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.3rem;
    margin: auto;

    height: 10rem;
    width: 10rem;
}

.navigation-links h2 {
    position: absolute;
    width: 100%;
}

.navigation-links a {
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
    color: black;
}

.navigation-links a:hover {
    color: #F20;
    cursor: pointer;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
}

.about {
    top: -2.6rem;
}

.portfolio {
    top: 3.1rem;
    right: 10rem;
}

.contact {
    bottom: -2.6rem;
    right: 6.5rem;
}

.articles {
    top: 3.1rem;
    left: 9.5rem;
}

.resume {
    bottom: -2.6rem;
    left: 6.5rem;
}

.main-content-wrapper {
    margin: auto;
    width: 70%;
    min-width: 600px;
    height: 100%;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.1);
    border-left: 3px solid #888;
    border-right: 3px solid #888;
}

.main-content {
    display: flex;
    justify-content: center;
    min-height: 21rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

footer {
    border-top: 3px solid #777;
    height: 3rem;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 3rem;
}

footer div {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

footer a {
    text-decoration: none;
}

footer a:link {
    color: #DDD;
}

footer a:visited {
    color: #DDD;
}

footer img {
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: bottom;
    filter: brightness(80%);
}

footer div {
    display: none;
}

.github-link img {
    padding-right: 5px;
}

.email-link img {
    padding-left: 5px;
}
