.contact-content {
	width: 60%;
	min-width: 500px;
}

.contact-form {
	margin: 3rem auto -2rem;
	display: flex;
	flex-direction: column;
	width: 70%;
	min-width: 450px;
}

.contact-return-info {
	display: flex;
	justify-content: space-between;
}

.contact-return-info input {
	width: 50%
}

.contact-form textarea,
.contact-form input,
.contact-submit,
.contact-error,
.contact-sent {
	margin: 9px;
	padding: 9px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;

    background: #FEFEFE;
    box-shadow: none;
    border-radius: 2px;
    border: 0.5px solid #444;
    transition: background-color 0.4s;
}

.contact-form textarea {
	min-height: 10rem;
	resize: vertical;
}

.recaptcha-badge {
	display: flex;
	justify-content: flex-end;
	margin-right: 8px;
}

.contact-submit-div {
	display: flex;
	justify-content: space-between;
}

.contact-error {
	background: none;
	border: none;
	color: red;
}

.contact-submit {
    width: 6rem;
    font-family: 'Share Tech Mono', monospace;
    background: black;
    color: #EEE;
}

.contact-submit:hover {
	background: #444;
	cursor: pointer;
}

.contact-submit:active {
	background: #333;
}

.contact-sent {
	display: none;
	background: none;
	border: none;
	color: green;
	text-align: right;
}

.contact-form input[name="LeaveBlank"] {
	position: relative;
	top: -10000%;
	left: -10000%;
	z-index: -10000;
}

.grecaptcha-badge {

/*    visibility: hidden;
    margin: 0 auto;
    display: table;
    width: 0 !important;*/
}