.content {
    margin: auto;
    /*min-height: 60vh;*/
    min-width: 500px;
    width: 50%;
}

h1 { 
	font-size: 2em;
	text-align: center;
}

h2 { 
	font-size: 1.5em;
	text-align: center;
}

h3 { 
	font-size: 1.17em;
	text-align: center;
}

h4 { 
	font-size: 1.12em;
	text-align: center;
}

h5 { 
	font-size: .83em;
	text-align: center;
}

h6 { 
	font-size: .75em;
	text-align: center;
}