.portfolio-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    min-width: 500px;
    flex-shrink: 1;
    flex-grow: 0;
}

.portfolio-intro {
    margin-bottom: 2rem;
}

.portfolio-intro h1,
.portfolio-intro h2,
.portfolio-intro h3 {
    margin: 1rem;
}

.portfolio-item {
    margin: auto;
    border: 3px solid #888;
    margin-bottom: 4rem;
    padding: 0;
    overflow: hidden;

    background-color: #FFF;
    background-repeat: no-repeat;
    background-image: url("/resources/images/squares.svg");
    background-position: center;
}

.portfolio-header {
    background: black;
    margin: 0;
    padding: 9px 20px;
    border-bottom: 3px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-header:hover {
    cursor: pointer;
}

.portfolio-header h2 {
    text-align: left;
    color: white;
}

.portfolio-header svg {
    height: 1rem;
    width: 1rem;
    display: block;
    margin-left: auto;
    margin-right: 5px;
    transition: all 0.25s linear;
}

.portfolio-header path {
    stroke-width: 10;
    stroke: #FFF;
    fill: #FFF;
    stroke-linecap: round;
}

.rotate-down {
    transform: rotate(-90deg);
}

.portfolio-item p {
    display: none;
    background-color: #FFF;

    padding: 1rem;
    border-bottom: 3px solid #888;

    line-height: 1.3em;
}

.portfolio-item a img {
    width: 100%;
    margin: 0;
    transition: all 0.2s ease-out;
    display: block;
    opacity: 0;
}

.portfolio-item a img:hover {
    filter: brightness(70%);
}

