.resume-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lora', serif;
	padding: 4rem;
	width: 100%;
}

.resume-content:hover {
	cursor: text;
}

.resume-content h1, h2, h3 {
	margin: 5px;
}


.resume-content hr {
	border: 0;
	background-image: linear-gradient(to right, transparent, #444, #444, #444, transparent);
}

.resume-content li {
	margin: 9px;
	text-align: center;
}

.resume-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 2.5rem;
	width: 80%;
	min-width: 500px;
}

.resume-section-hr {
	width: 100%;
	height: 2px;
}

.resume-subsection {
	display: flex;
	flex-direction: column;
	width: 50%;
}


.resume-technical > .resume-subsection {
	width: 33%;	
}

.resume-subsection-hr {
	height: 1px;
	width: 100%
}
