.reviews-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    width: 70%;
}

.reviews-content h1 {
    padding: 1rem 1.5rem;

    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px #888888;
    color: white;
    background: #444;
}

.reviews-content img {
    object-fit: cover;
    border-top: 3px solid #888;
    width: 100%;
    height: auto;
}

.reviews-content b {
    font-weight: bold;
}

.reviews-content p {
    line-height: 20px;
}

.reviews-content a:hover {
    cursor: pointer;
}

.reviews-content .system-list {
    margin: 10px;
    margin-left: 20px;
    line-height: 20px;
}

.reviews-content .system-list li {
    margin-top: 12px;
    margin-bottom: 12px;
}

.reviews-content th {
    width: 100%;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.reviews-content .system-label {
    font-weight: bold;
}

.reviews-content .food-table-div {
    margin: auto;
    margin-top: 2rem;
    box-shadow: 5px 5px 10px #888888;
    width: 95%;
    background-color: #555;
    color: #EEE;
}

.reviews-content .food-table-div table {
    table-layout: fixed; /*even columns*/
    border: 0px;
    width: 100%;
    margin: auto;
}

.reviews-content .food-table-header {
    width: 95%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    color: white;
    background: #444;
}

.reviews-content .food-category-header {
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: 1.2rem;

    margin-top: 5px;
}

.reviews-content .food-table-div ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

.reviews-content .food-table-div li {
    margin: 7px;
}

.reviews-content .food-table-div td {
    border: 0px solid black;
    padding: 0px;
    margin: 10px;
    background: #6A6A6A;
}

.reviews-content .anime-title {
    margin-top: 3rem;
}


.spoiler-warning {
    margin-top: 2rem;

    font-size: 1.5rem;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.reviews-content .anime-table {
    width: 95%;
    margin: auto;
    margin-top: 1rem;

    background: #666;
    color: white;
    box-shadow: 5px 5px 10px #888888;
}

.reviews-content .anime-table-header-row {
    background: #444;
}

.reviews-content .anime-table-header-row,
.reviews-content .anime-review-info {
    display: flex;
}

.reviews-content .anime-table-header-row p,
.reviews-content .anime-review-info p {
    text-align: center;
    width: 95px;
}

.reviews-content .anime-table-header-row p:first-child,
.reviews-content .anime-review-info p:first-child {
    flex-grow: 1;
    text-align: left;
    justify-content: left;
}

.reviews-content .anime-table-row {
    background-attachment: fixed;
}

.reviews-content .anime-table-row:nth-child(odd) {
    background-image: linear-gradient(to right, #555 , #666);
}

.reviews-content .anime-table-row:nth-child(even) {
    background-image: linear-gradient(to right, #666 , #777);
}

.reviews-content .anime-table-header-row p {
    margin: 17px 14px;

    text-align: center;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    vertical-align: center;

    color: white;
}

.reviews-content .anime-table svg {
    height: 0.6rem;
    width: auto;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;

    transition: all 0.25s linear;
}

.reviews-content .anime-table svg {
    height: 0.8rem;
    width: auto;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;

    transition: all 0.25s linear;
}

.reviews-content .anime-table path {
    stroke-width: 10;
    stroke: #FFF;
    fill: #FFF;
    stroke-linecap: round;
}

.reviews-content .rotate-down {
    transform: rotate(90deg);
}

.reviews-content .clickable-row {
    cursor: pointer;
}

.reviews-content .anime-review-info p {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 14px;

    border: 0px;
    color: white;
    font-size: 0.9rem;
}

.reviews-content .anime-review-info p:first-child {
    display: flex;
    margin-left: 18px;
}

.reviews-content .anime-review-blurb {
    display: none;
    color: #333;
    width: 100%;
    height: 100%;
}

.reviews-content .anime-review-blurb p {
    padding: 20px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: white;
    cursor: text;
}
