{{define "content"}}
<div class="about-content">
	<div class="about-description">
		<p>I live in Calgary, Alberta, Canada.</p>
		<p>I am a software engineering student at the University of Calgary.</p>
		<p>I am an intern at Calgary Scientific Inc.</p>
		<p>I would like to work in the space industry some day.</p>
		<p>I reflect deeply on how I interact with people.</p>
		<p>I love playing bass, drums, and piano.</p>
		<p>
			I built the entire software infrastructure for the 
			<a href="http://www.calgarysolarcar.ca" target="_blank">UofC Solar Car Team</a>
			 from scratch.
		</p>
		<p>I love playing boardgames, Bonanza is one of my favourites!</p>
		<p>I am an organizer for the College and Career group at my 
			<a href="https://ccpc.ab.ca/doku.php?id=news" target="_blank">Church</a>
			.
		</p>
		<p>I imagine my long term career being in DevOps.</p>
		<p>I find great joy in making beautiful user interfaces.</p>
		<p>I absolutely adore dogs even though I'm allergic.</p>
	</div>
	<div>
		<img class="about-profile" src="resources/images/tall-profile.png"/>
	</div>
</div>
{{end}}
