{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<title>Enoch Tsang</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway|Share+Tech+Mono" rel="stylesheet">
	<link href="resources/min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<div class=header-bg></div>
		<img alt="Enoch Tsang" class="signature" src="/resources/images/signature-logo.png"/>
	</header>
	<div class="nav-bar-border"></div>
	<div class="nav-bar">
		<input type="text">
	</div>
	<div class="nav-bar-border"></div>
	<div class="navigation-container">
		<div class="navigation-background"></div>
		<div class="navigation-icon">
			<div class="navigation-links">
				<h2 class="about"><a>about</a></h2>
				<h2 class="contact"><a>contact</a></h2>
				<h2 class="articles"><a>articles</a></h2>
				<h2 class="resume"><a>resume</a></h2>
				<h2 class="portfolio"><a>portfolio</a></h2>
			</div>
			<canvas class="pentagon" width="520" height="495"></canvas>
		</div>
	</div>
	<div class="content">
	    {{template "content" .}}
	</div>
	<footer>
		<div class="github-link">
			<a href="https://github.com/enochtsang">
				<img src="/resources/images/github-icon.png" alt="github-icon">
				github.com/enochtsang
			</a>
		</div>
		<div class="email-link">
			<a href="mailto:ECHTsang@gmail.com">
				ECHTsang@gmail.com
				<img src="/resources/images/email-icon.png" alt="email-icon"/>
			</a>
		</div>
	</footer>
	<script src="resources/min.js" type="text/javascript"></script>
</body>
</html>
{{end}}
