{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<title>Enoch Tsang</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro" rel="stylesheet">
	<link href="resources/min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<img alt="Enoch Tsang" class="signature" src="/resources/images/signature.png">
	</header>
	<div class="nav-bar-border"></div>
	<div class="nav-bar">
		<input type="text">
	</div>
	<div class="nav-bar-border"></div>
	<footer></footer>
	<script src="resources/min.js" type="text/javascript">
	</script>
</body>
</html>
{{end}}
