{{define "content"}}
<div class="resume-content">
	<h1>Technical Skills</h1>
	<hr class="resume-section-hr">
	<div class="resume-section resume-technical">
		<div class="resume-subsection">
			<h2>General Proficiencies</h2>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Web Development</li>
				<li>DevOps</li>
				<li>Embedded Systems</li>
				<li>Technical Documentation</li>
				<li>Automated Testing</li>
			</ul>
		</div>		
		<div class="resume-subsection">
			<h2>Languages</h2>
			<hr class="resume-subsection-hr">
			<ul>
				<li>HTML5, CSS3</li>
				<li>JavaScript, SQL</li>
				<li>Golang, Python, Bash</li>
				<li>C, C++, Java</li>
				<li>MIPS Assembly</li>
				<li>Regular Expressions</li>
			</ul>
		</div>		
		<div class="resume-subsection">
			<h2>Technologies</h2>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Git Version Control</li>
				<li>jQuery, AngularJS, AJAX</li>
				<li>Relational Databases - MySQL, SQLite</li>
				<li>GIMP</li>
				<li>AWS - EC2, S3, Cloudfront</li>
				<li>Docker</li>
				<li>Ansible Playbooks</li>
				<li>STM32F4, STM32CubeMX</li>
				<li>MBED NXP LPC1768</li>
				<li>QT Framework</li>
			</ul>
		</div>		
	</div>
	<h1>Experience</h1>
	<hr class="resume-section-hr">
	<div class="resume-section">
		<div class="resume-subsection">
		<h2>Calgary Scientific Inc.</h2>
		<h3> Systems Intern</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
			</ul>
		</div>		
		<div class="resume-subsection">
		<h2>SEDS Research Lab</h2>
		<h3> Research Assistant</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
			</ul>
		</div>		
	</div>
	<h1>Project Work</h1>
	<hr class="resume-section-hr">
	<div class="resume-section">
		<div class="resume-subsection">
		<h2>University of Calgary Solar Car Team</h2>
		<h3> Software Technical Lead</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
			</ul>
		</div>
		<div class="resume-subsection">
		<h2>Canadian Engineering Competition</h2>
		<h3> Contracted Web Developer</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
			</ul>
		</div>
	</div>
	<h1>Education</h1>
	<hr class="resume-section-hr">
	<div class="resume-section">
		<div class="resume-subsection">
		<h2>University of Calgary</h2>
		<h3> Bachelor of Science</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Software Engineering</li>
				<hr>
				<li>Expected Graduation - January 2019</li>
			</ul>
		</div>
		<div class="resume-subsection">
		<h2>University of Calgary</h2>
		<h3> Bachelor of Science</h3>
			<hr class="resume-subsection-hr">
			<ul>
				<li>Software Engineering</li>
				<hr>
				<li>Expected Graduation - January 2019</li>
			</ul>
		</div>
	</div>
</div>
{{end}}
