{{define "content"}}
<div class="resume-content">
	<div class="resume-section">
		<h1>Technical Skills</h1>
		<hr class="resume-section-hr">
		<div class="resume-subsection">
		<h3>Web Development</h3>
			<ul>
				<li>HTML5, CSS3, GIMP</li>
				<hr>
				<li>JavaScript, jQuery,AngularJS, AJAX</li>
				<hr>
				<li>MySQL, SQLite, MongoDB</li>
			</ul>
		</div>
		<hr class="subsection-hr">
		<div class="resume-subsection">
		<h3>DevOps</h3>
			<ul>
				<li>Scripting - Golang, Python, Bash, Ruby</li>
				<hr>
				<li>AWS EC2, S3</li>
				<hr>
				<li>Docker</li>
			</ul>
		</div>
		<hr class="subsection-hr">
		<div class="resume-subsection">
		<h3>Embedded Systems</h3>
			<ul>
				<li>C, C++, MIPS Assembly</li>
				<hr>
				<li>STM32F4, STM32CubeMX</li>
				<hr>
				<li>MBED NXP LPC1768</li>
			</ul>
		</div>
		<hr class="subsection-hr">
		<div class="resume-subsection">
		<h3>General Development</h3>
			<ul>
				<li>Git (Version Control)</li>
				<hr>
				<li>C++, Java, JavaScript, Golang, Python</li>
				<hr>
				<li>QT Framework</li>
			</ul>
		</div>
	</div>
	<div class="resume-section">
		<h1>Experience</h1>
		<hr class="resume-section-hr">
		<div class="resume-subsection">
		<h3>Calgary Scientific Inc.<br>Systems Intern</h3>
			<ul>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
			</ul>
		</div>		
	</div>
	<div class="resume-section">
		<h1>Project Work</h1>
		<hr class="resume-section-hr">
		<div class="resume-subsection">
		<h3>University of Calgary Solar Car Team<br>Software Technical Lead</h3>
			<ul>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
			</ul>
		</div>
		<hr class="subsection-hr">
		<div class="resume-subsection">
		<h3>Canadian Engineering Competition<br>Contracted Web Developer</h3>
			<ul>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
				<hr>
				<li>Some responsibility</li>
			</ul>
		</div>
	</div>
	<div class="resume-section">
		<h1>Education</h1>
		<hr class="resume-section-hr">
		<div class="resume-subsection">
		<h3>University of Calgary<br>Bachelor of Science</h3>
			<ul>
				<li>Software Engineering</li>
				<hr>
				<li>Expected Graduation - January 2019</li>
			</ul>
		</div>
	</div>
	</div>
{{end}}
